# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=dbt_db
POSTGRES_USER=dbt_user
POSTGRES_PASSWORD=dbt_password

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@dbt.com
PGADMIN_DEFAULT_PASSWORD=admin_password
PGADMIN_LISTEN_PORT=80

# dbt
DBT_PROFILES_DIR=/usr/app/dbt
DBT_PROJECT_DIR=/usr/app/dbt
